<html>
<head>
    <meta charset="utf-8">
    <title>Result</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class='text-center'>
    <br><br>
    <br>
    <br>

    <div id='main' class='text-center'><br><br>
        <div id="formarea"> 
          <form method="POST" enctype='multipart/form-data'>
            <h1> NEW USER </h1>
            <br>
            <hr>
            <br>
            <input type='file' name='photo' style='margin-left: 25%'>
            <input type='text' name='tc' placeholder='Enter TC number'>
            <br>
            <input type='text' name='name' placeholder='Enter name'>
            <br>
            <input class='btn btn-dark' type='submit' value="SAVE">
          </form>
        </div>
    </div>
</body>


<style>
    body {
        margin: auto;
    }

    #main {
        width: 500px;
        height: 40%;
        margin: auto;
        margin-top: 5%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }

    #formarea {
        margin: auto;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    input {
        margin: 2%;

    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</html>
